[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
jupyterlab = "*"
mplleaflet = "*"

[dev-packages]
jedi-language-server = "*"
pylint = "*"
jupytext = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
